
<!DOCTYPE html>
<html>
<head>
    <title>Single Post</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/asset/css/facebook-style.css}">
</head>
<body style="padding: 0 !important;">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/facebook/index}" style="font-size: 25px;color: blue">Facebook</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:text="${session.user.getFullName()}"></a></li>
                <li class="dropdown">
                    <a th:href="@{/facebook/logout}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log Out <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/facebook/logout}">Log Out</a></li>

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="facebook-container-dashboard" style="padding: 0;">
        <div class="facebook-post-container" style="padding: 0 10px 0 10px;">
            <div class="post-head">
                <div class="post-owner">
                    <div class="post-owner-dp"><img th:src="@{/asset/images/user-icon.png}"></div>
                    <div class="post-owner-name" th:text="${singlePost.getUser().getFullName()}"><h4></h4></div>
                </div>
                <div class="post-date">
                    <h5 style="color:green" th:text="${singlePost.getCreatedAt()}">Posted on <span style="color: black"></span></h5>
                </div>
            </div>
            <div class="post-details" th:text="${singlePost.getPost()}">

            </div>
            <div class="post-like-comment">
                <div class="likes"> <span style="color:blue;font-size: 13px" class="glyphicon glyphicon-thumbs-up"></span>
                    <span th:if="${!singlePost.postLikes.isEmpty}">[[${singlePost.postLikes.size()}]]
                        <span th:text="${singlePost.postLikes.size()>1}?likes:like"></span>
                        </span>
                </div>
                <div class="comments">
                        <span th:if="${!singlePost.commentList.isEmpty}">[[${singlePost.commentList.size()}]]
                            <span th:text="${singlePost.commentList.size()>1}?comments:comment"></span>
                        </span>
                    <span th:unless="${!singlePost.commentList.isEmpty}"> No comment yet</span>
                </div>
            </div>

            <div class="like-comment-action">

                <div th:if="${singlePost.postLikes.isEmpty()}">
                    <div class="like-this">
                        <a th:href="@{/facebook/like/(userID=${session.user.getId()},postID=${singlePost.getId()})}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </a>
                    </div>
                </div>

                <div th:each="like :${singlePost.postLikes}">
                    <div class="like-this" th:if="${like.getUserId==session.user.getId()}"><a th:href="@{/facebook/unlike/(likeID=${like.getId()})}"><span class="glyphicon glyphicon-thumbs-down"></span></a></div>
                    <div class="like-this" th:unless="${like.getUserId==session.user.getId()}"><a th:href="@{/facebook/like/(userID=${session.user.getId()},postID=${singlePost.getId()})}"><span class="glyphicon glyphicon-thumbs-up"></span></a></div>
                </div>

                <div class="comment-on-this"><span class="glyphicon glyphicon-comment"></span></div>
            </div>

            <div class="all-comments" style="display: flex;justify-content:left" th:each="comment:${singlePost.commentList}">
                <div class="user-image"><img <img th:src="@{/asset/images/user-icon.png}" style="width:45px;"></div>
                <div class="post-comments">
                    <small th:text="${comment.getUser().getFullName()}"></small><br>
                    <span style="font-size:20px;">[[${comment.getComment}]]</span>
                </div>
            </div>

            <hr>
            <form th:action="@{/facebook/comment}"  th:object="${commentDto}" method="post">
                <div class="comment-box">
                    <div class="comment-owner-dp"><img <img th:src="@{/asset/images/user-icon.png}"></div>
                    <div class="form-element-group">
                        <textarea name="comment" class="owner-comment" rows="2" placeholder="Write a comment"></textarea>
                        <button type="submit" class="comment-button">Send</button>
                    </div>
                </div>
                <input type="hidden" name="commentPage" value="1">
                <input type="hidden" th:value="${session.user.getId()}" name="userId">
                <input type="hidden" th:value="${singlePost.getId()}" name="post">
            </form>

        </div>

    </div>
</div>

</body>
</html>